@import url('https://fonts.googleapis.com/css?family=Monda:400,700|Rajdhani:400,700');

$font-family-copy: 'Monda', sans-serif;
$font-family-display: 'Rajdhani', sans-serif;
$base-font-size: 16px;

html,
body {
  font-family: $font-family-copy;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-display;
}
